body {
    background: #111;
    margin: 0;
    background-image: linear-gradient(-20deg, #C5A326, #FEE697, #C5A326);
    background-repeat: no-repeat;
    background-size: 100svw 100svh;
    color: #f0f0f0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.field {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.mouse {
    transform: scale(.6);
    width: 50px;
    height: 90px;
    border: 3px solid white;
    border-radius: 60px;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    &::before {
        content: '';
        width: 12px;
        height: 12px;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        border-radius: 50%;
        opacity: 1;
        animation: wheel 2s infinite;
        -webkit-animation: wheel 2s infinite;
    }
}

@keyframes wheel {
    to {
        opacity: 0;
        top: 60px;
    }
}

@-webkit-keyframes wheel {
    to {
        opacity: 0;
        top: 60px;
    }
}

.body-wrapper {
    margin: auto;
    margin-top: calc(clamp(20px, 5svw, 40px) / 2);
    width: calc(100svw - clamp(20px, 5svw, 40px));
    height: calc(100svh - clamp(20px, 5svw, 40px));
    border-radius: 2rem;
    background-image: url('../assets/bg-advent.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.body-wrapper, .content, .overlay {
    transition: height .25s ease, top .25s ease, margin .25s ease, opacity 10s ease !important;
}

nav {
    margin: auto;
    top: calc(clamp(20px, 5svw, 40px) / 2);
    left: calc(clamp(20px, 5svw, 40px) / 2);
    width: calc(100svw - clamp(20px, 5svw, 40px));
    height: 60px;
    opacity: 0;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    position: fixed;
    max-height: 0px;
    overflow: hidden;
    transition: all .25s ease;
}

nav .navspacer {
    margin-bottom: 10px;
    align-self: center;
}

nav .navspacer a {
    background-color: transparent;
    color: white;
    border: solid thin rgba(255, 255, 255, .3);
    padding: .5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
    margin: auto 1rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .25s ease;
}

nav .navspacer a:hover {
    background-color: #14323B;
}

.burger-wrap {
    margin-top: 12.5px;
    height: 25px;
    width: 35px;
    display: flex;
    flex-direction: column;
    gap: 15%;
    justify-self: right;
}

.burger-wrap div {
    background-color: white;
    height: 50%;
    width: 100%;

}

nav a img {
    height: 50px;
    filter: brightness(0) invert(1);
}

.background-pic {
    position: fixed;
    width: 100svw;
    height: 100svh;
    object-fit: cover;
}

.rahmen {
    position: fixed;
    width: calc(100svw - clamp(20px, 5svw, 40px));
    height: calc(100svh - clamp(20px, 5svw, 40px));
    border-radius: 200px;
}

.overlay {
    background-color: #0a191d;
    opacity: 1;
    position: fixed;
    top: calc(clamp(20px, 5svw, 40px) / 2);
    width: calc(100svw - clamp(20px, 5svw, 40px));
    height: calc(100svh - clamp(20px, 5svw, 40px));
    border-radius: 2rem;
    z-index: 0;
}

.main .overlay {
    animation: introBg .5s 1.5s forwards ease-in-out;
}

@keyframes introBg {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.content {
    position: fixed;
    top: calc(clamp(20px, 5svw, 40px) / 2);
    width: calc(100svw - clamp(20px, 5svw, 40px));
    height: calc(100svh - clamp(20px, 5svw, 40px));
    border-radius: 2rem;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.header-area {
    margin-top: 0;
    width: calc(100svw - clamp(20px, 5svw, 40px));
    height: calc(100svh - clamp(20px, 5svw, 40px));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all .25s ease;
}

#front {
    position: relative;
    z-index: 1;
}

.kalender-grid {
    width: calc(100% - calc(clamp(.5rem, 3svw, 2rem)*2));
    height: calc(100% - calc(clamp(.5rem, 3svw, 2rem)*2));
    position: absolute;
    display: grid;
    grid-gap: clamp(.5rem, 3svw, 2rem);
    top: clamp(.5rem, 3svw, 2rem);
    left: clamp(.5rem, 3svw, 2rem);
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    opacity: 0;
    max-height: 100% !important;
    animation: introContent 0.75s 2s forwards ease-in-out;
}

.kalender-grid>div {
    z-index: 0;
    color: #ffffff;
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    border: dashed 1px rgba(255, 255, 255, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0);
    transition: all .25s ease;
    cursor: pointer;
    transform: scaleX(1);
    background: #0a191da6;
}
@media (orientation:landscape){
    .kalender-grid>div:hover {
    background-color: #0a191d4D;
    font-size: 60px;
    transform: scaleX(1) skewx(2deg) skewY(-2deg);
}
}


.modal {
    border: dashed 1px rgba(255, 255, 255, .4);
    display: none;
    z-index: 99;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translatex(-50%) translateY(-50%);
    width: calc(100% - 8rem);
    height: calc(100% - 9rem - 60px);
    max-width: 700px;
    max-height: 800px;
    border-radius: 2rem;
    background: #0a191d;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 60px 1rem 3rem 1rem;
    box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, .95);
    transition: top 0s linear, transform .5s ease, opacity .25s ease;
}

.modal.active {
    display:block;
}

.modal h2 {
    font-size: clamp(20px, 5svw, 45px);
    font-weight: 900;
    width: 90% !important;
    max-width: 700px !important;
    margin-bottom: 2rem;
}

.winnernumbers {

    font-weight: 900;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-width: 500px;
    flex-wrap: wrap;
}

.winnernumbers p {
    background: white;
    color: #14323B;
    padding: .75rem 2rem;
    border-radius: 1rem;
    margin: .5rem;
    font-size: 16px;
}

.close {
    background: #C5A326;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    width: 200px;
    height: 50px;
    border-radius: 2rem;
    font-size: 24px;
    font-weight: 900;
    margin-top: -50px;
    left: calc(50%);
    transform: translateX(-50%);
    position: fixed;
    cursor: pointer;
    transition: all .25s ease;
}

.close:hover {
    transform-origin: center center;
    transform: translate(-50%) skewY(-4deg);
}

.modal .cards {
    display: grid;
    margin-left: 0 !important;
    grid-template-columns: 50% 50% !important;
    grid-gap: .5rem;
    width: calc(100% - .5rem) !important;
}

@media (max-width:599px) {
    .modal cards {
        display: grid;
        grid-template-columns: 100% !important;
        grid-gap: .5rem;

    }

    .modal {
        border: none;
        width: calc(100% - 3rem);
        height: calc(100% - 5rem - 40px);
        border-radius: 2rem;
        padding: 40px 1rem 4rem 1rem;
    }

    .close {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        height: 40px;
        border-radius: 2rem;
        font-size: 20px;
        font-weight: 900;
        margin-top: -25px;
        position: fixed;
    }
}

.modal .cards .card {
    background-color: white !important;
    color: #14323B;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    min-height: 200px;
}

.modal .cards .card p {
    margin: 0;
    padding: 0;
}

.modal .cards .card h3 {
    margin-bottom: .5rem;
}

.modal .card img {
    width: 100%;
    height: 70px;
    padding: 1rem;
    background-color: white;
    max-width: 100%;
    margin-bottom: -1rem;
    border-radius: .5rem;
    object-fit: contain;
}

.intro-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    animation: introContent 0.75s 2s forwards ease-in-out;
}

@keyframes introContent {
    0% {
        max-height: 0;
        opacity: 0;
    }

    100% {
        max-height: 1000px;
        opacity: 1;
    }
}

.logo {
    position: relative;
    opacity: 0;
    max-width: 1000px;
    width: 90%;
    margin: auto;
    display: block;
    animation: introLogo 2s forwards ease-in-out;
}

@keyframes introLogo {
    0% {
        opacity: 0;
        max-width: 1000px;
        width: 90%;
        filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, .8));
    }

    100% {
        opacity: 1;
        max-width: 300px;
        width: 50%;
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, .4)) drop-shadow(0px 0px 40px rgba(0, 0, 0, .6)) drop-shadow(0px 0px 80px rgba(0, 0, 0, .8)) drop-shadow(0px 0px 120px rgba(0, 0, 0, .8)) drop-shadow(0px 0px 200px rgba(0, 0, 0, 1));
    }
}

#kalender {
    margin-top: 2rem;
    color: #f0f0f0;
    text-align: center;
    line-height: 1;
    font-size: 25px;
    max-height: 96px;
    overflow: hidden;
    transition: all .25s ease;
}

#kalender p {
    height: 32px;
    margin: auto;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: .8;
    transition: font .25s ease;
}

#kalender p.active {
    opacity: 1;
    font-weight: bold;
    font-size: 28px;
}

#kalender p.disabled {
    opacity: .2;
}

h2 {
    text-transform: uppercase;
    line-height: 1.1;
    margin-top: 2rem !important;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    max-width: 300px;
    margin: auto;
}

p {
    margin: auto;
}

.disclaimer {
    max-width: 450px;
    width: 90%;
    font-size: 13px;
    line-height: 1.5;
    font-style: italic;
}

#winnernumber {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    padding: 1rem 1.5rem;
    border-radius: .75rem;
    background: #f0f0f0;
    max-width: 250px;
    min-height: 20px;
    margin: .5rem auto 1rem auto;
}

#kalender .kalender-inner {
    position: relative;
    top: 0;
    opacity: 0;
    animation: introduceDate .5s .2s forwards ease-in-out;
    transition: all .1s linear;
}

#winnernumber p:not(.active) {
    display: none;
    opacity: 0;
}

#winnernumber p.active {
    opacity: 1;
}

@keyframes introduceDate {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

section {
    min-height: 100svh;
    opacity: 0;
    transition: opacity .5s ease;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

body.scrolled .header-area {
    opacity: 0;
    margin-top: -60px;
}

body.scrolled nav {
    opacity: 1;
    max-height: 100px
}

body.scrolled section {
    opacity: 1;
}

body.scrolled .body-wrapper {
    margin-top: calc((clamp(20px, 5svw, 40px) / 2) + 60px);
    width: calc(100svw - clamp(20px, 5svw, 40px));
    height: calc(100svh - clamp(20px, 5svw, 40px) - 60px);
}

body.scrolled .overlay {
    top: calc((clamp(20px, 5svw, 40px) / 2) + 60px);
    width: calc(100svw - clamp(20px, 5svw, 40px));
    height: calc(100svh - clamp(20px, 5svw, 40px) - 60px);
}


body.scrolled .content {
    top: calc((clamp(20px, 5svw, 40px) / 2) + 60px);
    width: calc(100svw - clamp(20px, 5svw, 40px));
    height: calc(100svh - clamp(20px, 5svw, 40px) - 60px);
}

/*Content*/
.inner-sec>* {
    width: calc(95svw - clamp(20px, 5svw, 40px)) !important;
    margin: auto !important;
    max-width: 700px !important;
    margin-bottom: 2rem !important;
}

.inner-sec>.media-text {
    display: block;
    width: 100% !important;
    max-width: 100% !important;
    margin-bottom: calc(clamp(20px, 50%, 50px)*-1) !important;
}

.media-text>* {
    width: 100%;
    min-width: 350px;
}

.media-text .text {
    width: 60%;
    min-width: 350px;
    background-color: darkslategrey;
    padding: .25rem 1rem 1rem 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    position: relative;
    z-index: 9;
    border-radius: .5rem;
    transform: translatey(calc(clamp(20px, 50%, 50px)*-1));
}

.media-text img {
    border-radius: 1rem;
    width: 90%;
    aspect-ratio: 25/9;
    object-fit: cover;
}

.logo-headline {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.logo-headline img {
    max-width: 150px;
    max-height: 90px;
    object-fit: contain;
}

.logo-headline {
    font-size: 40px;
    font-weight: 100;
}

.inner-sec h1, .inner-sec h2 {
    font-size: clamp(20px, 5svw, 45px);
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1;
}

.inner-sec p {
    line-height: 1.5;
}

.inner-sec ul li {
    text-align: left;
    margin-bottom: .25rem;
    max-width: 90%;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5rem;
}

.card {
    background-color: darkslategrey;
    border-radius: .5rem;
    padding: 0 1rem 1rem 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card ul {
    padding-left: 0;
}

.card li {
    list-style: none;
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
}

footer {
    min-height: 200px;
    background-color: darkslategrey;

    & a {
        color: white;
    }
}

.main section:nth-child(odd) {
    background-color: rgba(0, 0, 0, .1);
    padding: 2rem 0;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

a {
    color: white;
}

.burger-wrap {
    display: none;
    cursor: pointer;
}

.topfix {
    width: 60px;
    position: fixed;
    z-index: 999999999;
    bottom: 0;
    right: 0;
}

.wp-block-table table {
    width: 90%;
    margin-left: 5%;
    text-align: left;
    border-collapse: collapse;
    table-layout: fixed;
}

thead {
    font-size: 18px;
    border-bottom: solid 1px white;
}

.wp-block-table table tbody tr {
    border-bottom: dotted 1px rgba(255, 255, 255, .4);
    height: 100px;
}

.wp-block-table table th:nth-child(2), .wp-block-table table td:nth-child(2) {
    text-align: center;
}

.wp-block-table table th:nth-child(3), .wp-block-table table td:nth-child(3) {
    text-align: right;
}

table tbody td:nth-child(3) strong {
    font-size: 20px;
    background-color: #C5A326;
    color: white;
    border-radius: .5rem;
    padding: .5rem 1rem;
}

.wp-block-table table th, .wp-block-table table td {
    width: 33% !important;
}

@media (max-width:998px) {
    .burger-wrap {
        display: flex;
        cursor: pointer;
    }

    .media-text img {
        border-radius: 1rem;
        width: 90%;
        aspect-ratio: 5/3;
        object-fit: cover;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: .5rem;
    }

    nav .navspacer a {
        display: none !important;
    }

    .nav-open nav {
        height: 450px;
        max-height: 450px !important;
    }

    nav .navspacer {
        margin-bottom: 10px;
        align-self: flex-start;
        margin-top: 60px;
    }

    .nav-open nav .navspacer a {
        display: block !important;
        margin-bottom: .5rem;
    }

    body.scrolled.nav-open .body-wrapper {
        margin-top: calc((clamp(20px, 5svw, 40px) / 2) + 250px);
        width: calc(100svw - clamp(20px, 5svw, 40px));
        height: calc(100svh - clamp(20px, 5svw, 40px) - 250px);
    }

    body.scrolled.nav-open .overlay {
        top: calc((clamp(20px, 5svw, 40px) / 2) + 250px);
        width: calc(100svw - clamp(20px, 5svw, 40px));
        height: calc(100svh - clamp(20px, 5svw, 40px) - 250px);
        opacity: 1 !important;
    }

    body.scrolled.nav-open .content {
        top: calc((clamp(20px, 5svw, 40px) / 2) + 250px);
        width: calc(100svw - clamp(20px, 5svw, 40px));
        height: calc(100svh - clamp(20px, 5svw, 40px) - 250px);
    }

    .media-text .text {
        width: 250px;
        min-width: 200px;
    }

    p, ul li {
        font-size: 14px;
    }
}